@charset 'utf-8';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
ol,
li {
  list-style: none; /* lisn */
}
img {
  vertical-align: top; /* vat */
}
body {
  line-height: 1.5; /* lh1 */
  font-family: Pretendard;
  letter-spacing: -1px;
}
/* 초기화 */

.k-car1 {
  width: 1085px;
  height: 578px;
  margin: 0 auto;
}

.k-car1 .font {
  text-align: center;
  padding: 30px;
}

.k-car1 ul {
  display: flex;
  justify-content: space-between;
}

.k-car1 ul li {
  width: 321px;
  height: 578px;
  text-align: center;
}

.k-car2 {
  width: 1131px;
  height: 544px;
  margin: 0 auto;
  text-align: center;
}

.k-car2 ol {
  display: flex;
  justify-content: space-between;
}

.k-car2 ol li {
  width: 342px;
  height: 354px;
  padding: 26px 51px;
}

.k-car2 ol li figure {
  display: block;
}

.k-car2 ol li dl {
  margin-top: 67px;
}
