@charset 'utf-8';
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.8/dist/web/static/pretendard.css");
:root {
  --main-color: #12562f;
  --text-color: #666;
  --title-color: #232f28;
  --bg-dark: #232f28;
  --bg-white: #f3f6f6;
  --line-dark: #111;
  --line-light: #bdbdbd;
  --trs: 0.35s;
}

html {
  scroll-behavior: smooth; /* 링크 움직임을 부드럽게 */
}

body {
  /* text-transform: uppercase; 대문자 표시 */
  /* text-transform: lowercase; 소문자 표시 */
  text-transform: capitalize; /* 첫 글자만 대문자 */
  font: 1rem/1.5 "Pretendard", sans-serif;
  letter-spacing: -1px;
  color: var(--text-color);
  word-break: keep-all; /* 단어들을 어절단위로 떨어트린다. */
}

::selection {
  background: var(--main-color);
  color: #fff;
}

hr,
.hidden {
  /* 더미텍스트 날려버리는 작업 */
  position: absolute;
  margin: -1px;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
  color: inherit;
}

/* header */
#header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.inner {
  width: 1344px;
  height: 100%;
  margin: 0 auto;
}

#header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}

.gnb {
  display: flex;
  margin-left: auto;
  margin-left: 30px;
}

.gnb li a {
  padding: 10px 30px;
  display: block;
  font-weight: 700;
  font-size: 20px;
  color: var(--title-color);
}

.btn-login {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid var(--main-color);

  display: flex;
  justify-content: center;
  align-items: center;
  /* 아이콘 가운데로 넘겨버리기  */

  font-size: 20px;
  color: var(--main-color);
}

/* footer */
#footer {
  background: var(--bg-dark);
  padding: 77px 0;
}

#footer address {
  margin-top: 28px;
}

#footer address dl {
  display: flex;
  width: 300px;
  flex-wrap: wrap;
  /* border: 1px solid red; */
  font-size: 15px;
  color: rgba(255, 255, 255, 0.6);
}

#footer address dl dt {
  width: 70px;
  font-weight: 700;
}

#footer address dl dd {
  width: calc(100% - 70px);
}

#footer address p {
  font-size: 16px;
  font-weight: 700;
  margin-top: 32px;
  color: rgba(255, 255, 255, 0.8);
}

.btn-top {
  position: fixed;
  bottom: 230px;
  right: 290px;
  width: 54px;
  height: 54px;
  background: #000;
  color: #fff;
  border-radius: 50%;
  font-size: 40px;

  /* 버튼을 가운데로 몰려주기 */
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity var(--trs);
}

.btn-top.active {
  opacity: 1;
}
