@charset 'utf-8';

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;900&family=Noto+Sans+KR:wght@400;900&display=swap');

body {
  /* 영문(숫자 포함), 한글 폰트 순서로 정의 */
  font: 3vw/1.5 'Montserrat', 'Pretendard', sans-serif;
  color: #222;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

body::before {
  content: '';
  display: block;
  width: 612px;
  height: 640px;
  background: url(../img/season.png) 0 0 no-repeat;
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translateY(-50%);
  margin-top: -320px;
  animation: flip-in-hor-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  z-index: -1;
}

body::after {
  content: '';
  background: #000;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.3;
}

body.day::after {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.2), rgb(34, 34, 75, 0.5));
}
body.night::after {
  background: ;
}

.wrap {
  text-align: center;
}

.date {
  animation: rotate-scale-up 0.65s linear both;
}

.season {
  font-weight: 900;
  font-size: 5vw;
  animation: appear 5s 0.3s both;
  opacity: 0;
}

/* 사계절용 디자인 */

.spring {
  background: yellowgreen;
}

.summer {
  background: skyblue;
}

.fall {
  background: darkgoldenrod;
}

.winter {
  background: darkslateblue;
}

body.spring::before {
  background-position: 0 -640px;
}
body.summer::before {
  background-position: -612px -640px;
}
body.fall::before {
  background-position: 0 0;
}
body.winter::before {
  background-position: -612px 0;
}

/* 글자의 애니메이션 */

@keyframes appear {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@-webkit-keyframes rotate-scale-up {
  0% {
    -webkit-transform: scale(1) rotateZ(0);
    transform: scale(1) rotateZ(0);
  }
  50% {
    -webkit-transform: scale(2) rotateZ(180deg);
    transform: scale(2) rotateZ(180deg);
  }
  100% {
    -webkit-transform: scale(1) rotateZ(360deg);
    transform: scale(1) rotateZ(360deg);
  }
}
@keyframes rotate-scale-up {
  0% {
    -webkit-transform: scale(1) rotateZ(0);
    transform: scale(1) rotateZ(0);
  }
  50% {
    -webkit-transform: scale(2) rotateZ(180deg);
    transform: scale(2) rotateZ(180deg);
  }
  100% {
    -webkit-transform: scale(1) rotateZ(360deg);
    transform: scale(1) rotateZ(360deg);
  }
}

@-webkit-keyframes flip-in-hor-bottom {
  0% {
    -webkit-transform: rotateX(80deg);
    transform: rotateX(80deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0);
    transform: rotateX(0);
    opacity: 1;
  }
}
@keyframes flip-in-hor-bottom {
  0% {
    -webkit-transform: rotateX(80deg);
    transform: rotateX(80deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0);
    transform: rotateX(0);
    opacity: 1;
  }
}
