@charset 'utf-8';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
ol,
li {
  list-style: none; /* lisn */
}
img {
  vertical-align: top; /* vat */
}
body {
  line-height: 1.5; /* lh1 */
  font-family: Pretendard;
  letter-spacing: -1px;
}

/* 초기화 */

.info {
  width: 1276px;
  height: 342px;
  margin: 0 auto;
  text-align: center;
}

.info h1 {
  text-align: center;
  padding: 60px;
}
.info ul {
  padding: 118px 50px 36px;
  display: flex;
  justify-content: space-between;
}

.info ul li {
  width: 280px;
  height: 185px;
  text-align: center;
  padding: 50px;
}
