@charset 'utf-8';

:root {
  --main-color: #f4f4f4;
  --hover-color: #133984;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
ol,
li {
  list-style: none; /* lisn */
}
img {
  vertical-align: top; /* vat */
}
body {
  line-height: 1.5; /* lh1 */
  font-family: Pretendard;
  letter-spacing: -1px;
}
/* 초기화 */

.management {
  width: 1219px;
  margin: 0 auto;
}

.management h1 {
  display: none;
}

.management-list {
  display: flex;
  justify-content: space-between;
}

.management-list li {
  width: 288px;
  height: 384px;
}
.management-list li a {
  text-decoration: none;
}

.management-list li dl {
  padding: 29px 40px;
  text-align: center;
}

.management-list li dl dt {
  font-weight: bold;
  font-size: 20px;
  color: var(--hover-color);
}

.management-list li dl dd {
  margin: 20px;
  font-size: 14px;
  line-height: 24px;
}

/* 가상 클래스 */

.management-list li:hover {
  background: var(--hover-color);
}

.management-list li:hover dt,
.management-list li:hover dd {
  color: var(--main-color);
}

.management-list li a::after {
  content: "";
  background: url(images/arr.jpg) 0 0 no-repeat;
}

/* 액션 영역 */

.management-list li:hover a figure img {
  transform: scale(1.3) rotate(20deg);
}
