@charset 'utf-8';

* {
  margin: 0;
  padding: 0;
}

ul,
ol,
li {
  list-style: none; /* lisn */
}
img {
  vertical-align: top; /* vat */
}
body {
  line-height: 1.5; /* lh1 */
  letter-spacing: -1px; /* 글자간 간격 조정 */
}

/* 초기화 */

.management {
  width: 1200px;
  margin: 0 auto;
  background: #f4f4f4;
}

.management a {
  text-decoration: none;
  color: #666;
}

.management h1 {
  display: none;
}

.management .management-list {
  display: flex;
  justify-content: space-between;
}

.management-list li {
  width: 288px;
  height: 384px;
  background: #fff;
}

.management-list li dl {
  padding: 20px 49px;
  text-align: center;
}

.management-list li dl dt {
  /* fwb+fz20+c#133984 약어 */
  font-weight: bold;
  font-size: 20;
  color: #133984;
}

.management-list li dd {
  font-size: 14px;
  margin-top: 10px;
  line-height: 24px;
}

.management-list li a::after {
  content: "";
  display: block;
  width: 35px;
  height: 35px;
  background: url(images/arr.jpg) 0 0 no-repeat;
  margin: 0 auto; /* 블록 가운데 정렬 */
}

.management-list li:hover {
  background: #133984;
  transition: 0.4s;
}

.management-list li:hover dt,
.management-list li:hover dd {
  color: #fff;
}

.management-list li:hover a::after {
  background: url(images/arr-on.jpg) 0 0 no-repeat;
  transform: translatex(20px);
}
